* {
  
    --bgcolor: rgb(202, 213, 221);
    --btncolor: rgb(128, 59, 255);
    --cardbgcolor: rgb(188, 194, 199);
    --btncolorhover: rgb(108, 29, 255);
    --btndelcolor: rgb(124, 31, 31);
    --btndelcolorhover: rgb(83, 9, 9);
    --exercisebgcolor: rgb(218, 215, 223);
    --barcolor: rgb(168, 122, 255);
  }
  
  html{
    height: 100%;
    background-color: var(--bgcolor);
  }
  
  .FitnessApp {
    padding:0.7rem;
    width: 100%;
    min-height: 100%;
    height: auto;
    background-color: var(--bgcolor);
    margin: auto;
  }
  
  .AppHeader .AppBody {
    width: 100%;
  }
  
  .addSet {
    width: 100%;
    text-align: right;
    border: 2px solid blue;
  }
  
  .btn {
    width: 80px;
    height: 30px;
    border: none;
    border-radius: 4px;
    padding: 2px;
    background-color: var(--btncolor);
    color: white;
    font-weight: bold;
    font-size: 1rem;
    cursor: pointer;
  }
  
  .btn:hover{
    background-color: var(--btncolorhover);
  }
  
  .smallBtn {
    width: 22px;
    height: 35px;
    border-radius: 4px;
    background-color: var(--btncolor);
    color: white;
    font-weight: bold;
    font-size: 1.5rem;
    cursor: pointer;
    border: 1px solid lightgrey;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 35px;
    box-shadow: 2px 1px 5px 1px rgb(32, 30, 32);
  }
  
  .smallBtn:hover{
    background-color: var(--btncolorhover);
  }
  
  .btnDel{
    background-color: var(--btndelcolor);
    cursor: pointer;
    color: white;
    padding: 3px;
    border-radius: 4px;
    height: 35px;
    width: 22px;
    border: 1px solid lightgrey;
    box-shadow: 2px 1px 5px 1px rgb(32, 30, 32);
  
  
  }
  
  .btnDel:hover{
    background-color: var(--btndelcolorhover);
  }
  
  @media (min-width:450px){
  
    .App{
      width: 50%;
      height: 100%;
    }
  }
  
  .clicked {
    transform: scale(0.7);
  }