.modalbg {
    width: 100vw;
    height: 100vh;
    background: radial-gradient(circle, rgba(125,69,251,.5) 79%, rgba(187,67,232,.5) 97%);
    display: none;
    border-radius: 8px;
    
}

.modalWindow {
    width: 70vw;
    height: 50vh;
    background: radial-gradient(circle, rgba(125,69,251,.5) 79%, rgba(187,67,232,.5) 97%);
    border-radius: 8px;
    position: relative;
    box-shadow: 0px 0px 10px 3px white;
    display: none;
}

.activeBg {
    display: block;
    position: absolute;
    left: 0;
    top: 0;
}

.activeWindow {
    position: absolute;
    left: 15%;
    top: 25%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.innerArea1 {
    width: 80px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    text-align: center;
    background: rgba(125,69,251,1);
    box-shadow: 0px 0px 10px 3px white;
    color: white;
    
}
.innerArea2 {
    width: 100%;
    height: 7%;
    margin-top: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-shadow: 3px 3px 5px purple;
}
.innerArea3 {
    width: 100%;
    height: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}


